<div style="text-align: right"> <b>데이터분석과기계학습 프로젝트(연이삭)</b></div>

---

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
vehicle = pd.read_csv('/Users/isc-yeon/Documents/projectData/Vehicle_Registration_Transactions_by_Department_of_Licensing.csv',
                      nrows=10_000,
                      # usecols = [3,11],
                      low_memory=False)

vehicle.head(5)

,Transaction Month and Year,Make,Model,Model Year,Vehicle Color,Vehicle Type,Vehicle Primary Use,Fuel Type Primary,Gross Vehicle Weight Rating Class,Gross Vehicle Weight Rating Range (lbs),...,Plate Configuration,Owner Type,County,State,Postal Code,Transaction Type,Transaction Channel,Payment Type,2020 Census Tract,Transaction Count
0,January 2022,HONDA,INSIGHT,2019,NaN,PASSENGER CAR,Passenger,Gasoline,NaN,NaN,...,Standard,Individual Owner,Pierce,WA,98374,Registration Renewal,Online,Debit/Credit Card,73123.0,1
1,January 2022,MERCEDES-BENZ,GLK-CLASS,2014,WHITE,MULTIPURPOSE PASSENGER VEHICLE (MPV),Passenger,Gasoline,1D,"5,001 - 6,000",...,Standard,Individual Owner,King,WA,98178,Registration Renewal,Online,Bank Transfer,26101.0,1
2,January 2022,MERCEDES-BENZ,M-CLASS,2002,BLUE,MULTIPURPOSE PASSENGER VEHICLE (MPV),Passenger,Gasoline,2E,"6,001 - 7,000",...,Standard,Individual Owner,Snohomish,WA,98258,Registration Renewal,Online,Bank Transfer,52506.0,1
3,January 2022,MERCEDES-BENZ,R-CLASS,2008,WHITE,MULTIPURPOSE PASSENGER VEHICLE (MPV),Passenger,Diesel,2E,"6,001 - 7,000",...,Standard,Individual Owner,Okanogan,WA,98862,Registration Renewal,Online,Debit/Credit Card,970900.0,1
4,January 2022,MERCURY,MOUNTAINEER,1997,GREEN,MULTIPURPOSE PASSENGER VEHICLE (MPV),Passenger,Gasoline,1D,"5,001 - 6,000",...,Standard,Individual Owner,King,WA,98034,Registration Renewal,Online,Debit/Credit Card,22300.0,1

In [5]:
vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Transaction Month and Year               10000 non-null  object
 1   Make                                     10000 non-null  object
 2   Model                                    10000 non-null  object
 3   Model Year                               10000 non-null  int64
 4   Vehicle Color                            6112 non-null   object
 5   Vehicle Type                             10000 non-null  object
 6   Vehicle Primary Use                      10000 non-null  object
 7   Fuel Type Primary                        10000 non-null  object
 8   Gross Vehicle Weight Rating Class        6984 non-null   object
 9   Gross Vehicle Weight Rating Range (lbs)  6984 non-null   object
 10  Fuel Type Secondary                      789 non-null    object
 11  Electrification Level                    10000 non-null  object
 12  Plate Background                         10000 non-null  object
 13  Plate Configuration                      10000 non-null  object
 14  Owner Type                               10000 non-null  object
 15  County                                   10000 non-null  object
 16  State                                    10000 non-null  object
 17  Postal Code                              10000 non-null  int64
 18  Transaction Type                         10000 non-null  object
 19  Transaction Channel                      10000 non-null  object
 20  Payment Type                             10000 non-null  object
 21  2020 Census Tract                        9975 non-null   float64
 22  Transaction Count                        10000 non-null  int64
dtypes: float64(1), int64(3), object(19)
memory usage: 1.8+ MB

In [6]:
vehicle = pd.read_csv('/Users/isc-yeon/Documents/projectData/Vehicle_Registration_Transactions_by_Department_of_Licensing.csv',
                      # nrows=10_000,
                      usecols = [3,11],
                      low_memory=False)

vehicle

          Model Year                 Electrification Level
0               2019  Strong HEV (Hybrid Electric Vehicle)
1               2014      ICE (Internal Combustion Engine)
2               2002      ICE (Internal Combustion Engine)
3               2008      ICE (Internal Combustion Engine)
4               1997      ICE (Internal Combustion Engine)
...              ...                                   ...
18284632        2020      ICE (Internal Combustion Engine)
18284633        2005      ICE (Internal Combustion Engine)
18284634        2016      ICE (Internal Combustion Engine)
18284635        2011      ICE (Internal Combustion Engine)
18284636        2020      ICE (Internal Combustion Engine)

[18284637 rows x 2 columns]

In [7]:
vehicle.index

RangeIndex(start=0, stop=18284637, step=1)

In [8]:
vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18284637 entries, 0 to 18284636
Data columns (total 2 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Model Year             int64
 1   Electrification Level  object
dtypes: int64(1), object(1)
memory usage: 279.0+ MB

In [9]:
vehicle.loc[:, 'Electrification Level'].value_counts()

ICE (Internal Combustion Engine)                 17400468
Strong HEV (Hybrid Electric Vehicle)               383784
HEV (Hybrid Electric Vehicle) - Level Unknown      245297
BEV (Battery Electric Vehicle)                     177228
PHEV (Plug-in Hybrid Electric Vehicle)              61673
Mild HEV (Hybrid Electric Vehicle)                  16186
Name: Electrification Level, dtype: int64

In [27]:
vehicle.loc[:, 'Electrification Level'].nunique()

6

In [10]:
vehicle.loc[:, 'Electrification Level'].isna().sum()
# 이거 뭐야 na 1갱있는거 ....

1

In [11]:
vehicle = vehicle.dropna()

In [12]:
vehicle

          Model Year                 Electrification Level
0               2019  Strong HEV (Hybrid Electric Vehicle)
1               2014      ICE (Internal Combustion Engine)
2               2002      ICE (Internal Combustion Engine)
3               2008      ICE (Internal Combustion Engine)
4               1997      ICE (Internal Combustion Engine)
...              ...                                   ...
18284632        2020      ICE (Internal Combustion Engine)
18284633        2005      ICE (Internal Combustion Engine)
18284634        2016      ICE (Internal Combustion Engine)
18284635        2011      ICE (Internal Combustion Engine)
18284636        2020      ICE (Internal Combustion Engine)

[18284636 rows x 2 columns]

In [13]:
df = (
    vehicle
    .groupby(['Model Year', 'Electrification Level'])
    .agg(size_Electrification_Level=pd.NamedAgg(column='Electrification Level', aggfunc='size'),
        )
)
df

                                                          size_Electrification_Level
Model Year Electrification Level
1966       ICE (Internal Combustion Engine)                                        2
1979       ICE (Internal Combustion Engine)                                       10
1980       ICE (Internal Combustion Engine)                                       50
1981       BEV (Battery Electric Vehicle)                                          2
           ICE (Internal Combustion Engine)                                    13198
...                                                                              ...
2023       BEV (Battery Electric Vehicle)                                        178
           HEV (Hybrid Electric Vehicle) - Level Unknown                         923
           ICE (Internal Combustion Engine)                                     6125
           Mild HEV (Hybrid Electric Vehicle)                                    106
           PHEV (Plug-in Hybrid Electric Vehicle)                                 72

[154 rows x 1 columns]

In [16]:
df = df.reset_index()

In [17]:
df

,Model Year,Electrification Level,size_Electrification_Level
0,1966,ICE (Internal Combustion Engine),2
1,1979,ICE (Internal Combustion Engine),10
2,1980,ICE (Internal Combustion Engine),50
3,1981,BEV (Battery Electric Vehicle),2
4,1981,ICE (Internal Combustion Engine),13198
...,...,...,...
149,2023,BEV (Battery Electric Vehicle),178
150,2023,HEV (Hybrid Electric Vehicle) - Level Unknown,923
151,2023,ICE (Internal Combustion Engine),6125
152,2023,Mild HEV (Hybrid Electric Vehicle),106
153,2023,PHEV (Plug-in Hybrid Electric Vehicle),72

In [21]:
df.loc[:, 'size_Electrification_Level']

0          2
1         10
2         50
3          2
4      13198
       ...
149      178
150      923
151     6125
152      106
153       72
Name: size_Electrification_Level, Length: 154, dtype: int64

In [20]:
df.loc[:, 'Model Year']

0      1966
1      1979
2      1980
3      1981
4      1981
       ...
149    2023
150    2023
151    2023
152    2023
153    2023
Name: Model Year, Length: 154, dtype: int64

In [ ]:
# 다중 선형 회귀?
# 가치투자 - 실질적인 시장의 과거 반증을 봄으로써 특정 회사의 가치가 상승할 것으로 예측???

In [ ]:
# 지금 데이터 일반차량 + 전기차 통합 데이터이기 때문에
# 내연기관과 전기차량의 수요에 대한 시장의 반증을 볼수 있을까
# 앞으로의 Electrification Level 에 따른 추후 시장 demand 예측. 각각 타입에 따라 증감이 있을까
# 선형 회귀
# Y 수량, X는 기간 ?

In [ ]:
# 시계열 (X -> Model Year) 1966 ~ 2023
# 데이터 불균형이 심함?
# 전처리 우선 해보기 : 컬럼 2개 Year(연속형), ICE(연속형), Strong HEV(연속형) .... 
# 컬럼이 2개면 안되지 컬럼이 7개여야함
# 6주차 참고중이엇음... + 7, 10, 11 주차